.post {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-y: hidden;

  .content {
    flex: 1 1 600px;
    padding: 10px;
  }

  .caption-container {
    margin: 15px 0;
  }
}
