<html>
  <body>
    <section class="post">
      <div class="content">
        <%= link_to "Back", request.referer || dashboard_index_path %>
        <div class="image-container">
          <%= image_tag @post.image.url, class: 'img-responsive' %>
        </div>

        <div class="caption-container text-center">
          <h2><%= @post.caption %></h2>
        </div>
      </div>
    </section>
  </body>
</html>         
